apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ntest
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ntest
        version: "${CICD_EXECUTION_SEQUENCE}"
    spec:
      containers:
      - name: ntest
        image: ${CICD_IMAGE}:${CICD_EXECUTION_SEQUENCE}
        resources:
          requests:
            memory: "256Mi"
          limits:
            memory: "256Mi"
        ports:
        - name: http
          containerPort: 8080
        readinessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 20
          periodSeconds: 15
          failureThreshold: 6
        livenessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 120
---
apiVersion: v1
kind: Service
metadata:
  name: ntest
  labels:
    app: ntest
spec:
  ports:
  - port: 9010
    targetPort: 8080
    name: http
  clusterIP: None
  selector:
    app: ntest
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ntest-ingress
  namespace: frontend
spec:
  tls:
  - hosts:
    - baojunev.com
    secretName: ingress-secret
  rules:
  - host: ranchertest.baojunev.com
    http:
      paths:
      - path: /ntest
        backend:
          serviceName: ntest
          servicePort: 9010
