apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ntest-deployment
  namespace: test
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: ntest
        version: "${CICD_EXECUTION_SEQUENCE}"
    spec:
      containers:
      - name: ntest
        image: ${CICD_IMAGE}:${CICD_EXECUTION_SEQUENCE}
        resources:
          requests:
            memory: "128Mi"
          limits:
            memory: "128Mi"
        ports:
        - name: http
          containerPort: 8080
        readinessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 20
          periodSeconds: 15
          failureThreshold: 6
        livenessProbe:
          tcpSocket:
            port: http
          initialDelaySeconds: 120

---
apiVersion: v1
kind: Service
metadata:
  name: ntest-svc
  namespace: test
spec:
  selector:
    app: ntest
    version: "${CICD_EXECUTION_SEQUENCE}"
  clusterIP: None
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ntest-ingress
  namespace: test
spec:
  tls:
  - hosts:
    - baojunev.com
    secretName: c-wx642
  rules:
  - host: ranchertest.baojunev.com
    http:
      paths:
      - path: /ntest
        backend:
          serviceName: ntest-svc
          servicePort: 8080
